<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Deficiência</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <form th:action="@{/deficiencia/criar}" th:object="${deficiencia}" method="post">
            <div class="form-group">
                <label for="nome" class="font-weight-bold">Nome da Deficiência</label>
                <input type="text" class="form-control form-control-lg" id="nome" th:field="*{nome}" required>
            </div>
            <div class="form-group">
                <label for="categoria" class="font-weight-bold">Deficiência</label>
                <select id="categoria" class="form-control form-control-lg" th:field="*{categoria}">
                    <option th:each="categoria : *{listCategorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            <a href="/deficiencia/listar"class="btn btn-secondary btn-lg">Voltar</a>
        </form>
    </div>
</body>
</html>