<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout}">
    <body th:fragment="content">     
        
            <div class="card mt-2">
                <div class="card-header">
                    <h3 class="card-title">Formulário de Visualização</h3>
                </div>
                <div class="card-body">                    
                    <div class="row">
                        <div class="mb-3">
                            <label for="deficiencia" class="form-label">Deficiencia:</label>
                            <input disabled type="text" id="deficiencias" placeholder="Ex.: Deficiências" th:field="${deficienciaForm.deficiencia}" class="form-control">
                        
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="/deficiencia/" class="btn btn-secondary">Voltar</a>
                </div>
            </div>   
    
    </body>
</html>